/*
 * Login: xmakis00
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu (napr. bubliny v sekci #refs)
 */
/* Vseobecne pravidla */
:root {
  --grey: #898989;
  --liggrey: #bfbfbf;
  --darkgrey: #4d4d4d;
  --mevyr: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans";
  line-height: 1.7;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: steelblue;
}

a:hover {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 1200px;
  min-width: 768px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

/* Header */
/*  Pre velky nadpis je spraveny padding 10vh + 56vh z vrchu, takze sa nachadza v 2/3 stranky.
    Pre zahlavie je spraveny grid na rozmiestnenie elementov.
    Navigacny panel obsahuje transparentny okraj, aby sa pri pohybe misou netriasol panel.*/
#header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  height: 100vh;
}

#header-menu {
  height: 10vh;
  padding-top: 5px;
  display: grid;
}

#header-menu #logo {
  margin-right: auto;
  margin-top: auto;
  margin-left: 0;
  margin-bottom: auto;
  grid-row: 1;
  font-family: "Special Elite";
  font-size: 25px;
  text-decoration: none;
  justify-content: left;
  color: steelblue;
}

#header-menu #logo a {
  font-family: "Special Elite";
  font-size: 25px;
}

#contacts {
  grid-row: 1;
  display: flex;
  color: var(--grey);
  justify-content: right;
  margin-right: 0;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  font-size: 18px;
}

#contacts span {
  margin-left: 10px;
}

#contacts span i {
  margin-right: 5px;
}

#contacts a {
  color: var(--grey);
}

#contacts a:hover {
  color: white;
}

#phone i,
#mail i {
  color: steelblue;
}

#networks {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: right;
  color: steelblue;
  font-size: 24px;
}

#networks span {
  margin-left: 10px;
}

#navigation {
  grid-row: 2;
  grid-column: 1;
}

#navigation ul {
  display: flex;
  flex-direction: row;
}

#navigation ul li {
  font-size: 15px;
  list-style-type: none;
  word-spacing: 0.05em;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
}

#navigation ul li a {
  color: var(--grey);
  text-transform: uppercase;
}

#navigation ul li:hover {
  border: 1px solid var(--liggrey);
  transition: 0.5s;
}

#header .content #header-title h1 {
  font-size: 64px;
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
}

#get-started {
  font-size: 18px;
  color: var(--liggrey);
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  display: inline-block;
  width: auto;
  border: 2px solid var(--liggrey);
}

#get-started a {
  color: var(--liggrey);
  display: inline-block;
}

#get-started:hover {
  background-color: steelblue;
  transition: 0.5s;
}

#get-started:hover a {
  color: white;
  font-weight: bold;
  transition: 0.5s;
}
#header-title {
  padding-top: 56vh;
}

/* Section services */
/*  Pre karticky je vytvoreny grid, vdaka ktoremu pridavanie dalsich kart
    je usporiadane do stlpca.*/
#services {
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

#services h2 {
  font-size: 48px;
  text-transform: uppercase;
}

/* Services paragraph*/
#services > div:nth-child(1) > p:nth-child(2) {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 10px;
  color: var(--grey);
  min-width: 300px;
}

.services-column .services-card {
  width: 300px;
  padding: 15px;
  box-shadow: 0 0 10px 0 var(--liggrey);
}

.services-column .services-card:hover {
  width: 300px;
  padding: 15px;
  box-shadow: 0 0 10px 0 steelblue;
}

.services-column .services-card p {
  text-align: center;
  font-size: 14px;
  color: var(--liggrey);
}

/* Services card grip */
#services > div:nth-child(1) > div:nth-child(3) {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
  justify-content: center;
  margin-top: 50px;
}

.services-column .services-card img:last-child {
  display: none;
}

.services-column .services-card img:first-child {
  border: 1px solid steelblue;
  display: block;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.services-column .services-card:hover img:first-child {
  display: none;
}

.services-column .services-card:hover img:last-child {
  border: 1px solid steelblue;
  background-color: steelblue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.services-column .services-card h3 {
  font-size: 24px;
  padding-top: 20px;
  text-align: center;
}

.services-column .services-card:hover h3 {
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
  color: steelblue;
}

/* Section about*/
#about {
  background-color: var(--mevyr);
  background-size: cover;
  background-clip: padding-box;
  padding-top: 60px;
  padding-bottom: 80px;
}

#about div:nth-child(odd) {
  margin-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

#about div:nth-child(even) {
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

#about div:nth-child(odd) img {
  max-width: 40%;
  max-height: 40%;
  border-radius: 5px;
  float: left;
  clear: right;
  margin-right: 80px;
  margin-bottom: 40px;
}

#about div:nth-child(odd) h2 {
  font-size: 32px;
  padding-bottom: 20px;
}

#about div:nth-child(odd) p {
  color: var(--grey);
  font-size: 18px;
  text-align: justify;
}

#about div:nth-child(odd) img:hover {
  max-width: 50%;
  max-height: 50%;
  transition: 0.5s;
}

#about div:nth-child(even) img {
  border-radius: 5px;
  max-width: 40%;
  max-height: 40%;
  margin-left: 80px;
  margin-right: 0px;
  margin-bottom: 40px;
  float: right;
  clear: left;
}

#about div:nth-child(even) p {
  padding-right: 0px;
  color: var(--grey);
  font-size: 18px;
  text-align: justify;
}

#about div:nth-child(even) h2 {
  clear: left;
}

/* Section team */
#team {
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

#team .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
}

#team h2 {
  text-transform: uppercase;
  font-size: 40px;
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
  flex: 1 100%;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 5;
}

#team .team-card {
  grid-row: 2;
  box-shadow: 0 0 10px 0 var(--liggrey);
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}

#team .team-card h3 {
  padding-top: 20px;
  font-size: 24px;
}

#team .team-card h4 {
  color: var(--grey);
}

#team .team-card p {
  color: var(--liggrey);
  text-align: center;
  font-size: 14px;
}

#team .team-card:hover {
  box-shadow: 0 0 10px 0 steelblue;
}

#team .team-card:hover h3 {
  color: steelblue;
}

#team .team-card img {
  width: 100%;
  height: auto;
}

/* Stats */
#stats {
  border-top: 2px dashed #4d4d4d;
  margin-top: 60px;
  margin-bottom: 80px;
}

#stats .content {
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#stats h3 {
  color: white;
  font-size: 24px;
}

#stats i {
  position: absolute;
  font-size: 32px;
  padding: 10px;
  top: -30px;
  left: 125px;
  color: steelblue;
  border-radius: 30px;
  background-color: white;
}

#stats p {
  color: var(--liggrey);
  padding-top: 5px;
  font-size: 14px;
}

.stats-card {
  position: relative;
  background-color: #4d4d4d;
  margin-left: 20px;
  flex: 1 1 0px;
  border-radius: 5px;
  max-width: 300px;
  padding: 30px;
}

.stats-card:hover {
  background-color: steelblue;
}

/* Price */
#price {
  background-color: var(--mevyr);
  background-size: cover;
}

#price .content {
  margin-top: 60px;
  margin-bottom: 80px;
}

#price h2 {
  text-align: center;
  font-size: 40px;
}

#price table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0 20px;
}

#price thead th {
  text-align: left;
  padding: 20px;
}

#price tbody {
  color: var(--grey);
}

#price tbody tr:hover {
  color: steelblue;
  background-color: white;
}

#price td {
  border-top: 1px solid steelblue;
  border-bottom: 1px solid steelblue;
  padding: 20px;
}

#price button {
  padding: 20px;
  background-color: var(--mevyr);
  border: 1px solid steelblue;
  border-radius: 5px;
  font-weight: bold;
}

#price button:hover {
  background-color: steelblue;
  color: white;
}

ul {
  padding-left: 20px;
}

td > ul > li:nth-child(1) {
  margin-left: -15px;
  font-weight: bolder;
  list-style-type: none;
}

/* refs */
/*  Div s kartou, v ktorom su ulozene vsetky elementy. Absolutne poziciovany
    text aby sa posunul hore pre text s uvodzovkami. Pre ten je urcena velkost
    100px. Viac netrepa pre dany text. Ukazatelik k ikonke je maly
    pseudo element, ktoreho hruby okraj je transparenty, osekany a posunuty
    tak aby ukazoval z forky k bubline. */
#refs {
  margin-top: 60px;
  margin-bottom: 80px;
}

#refs .content {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

#refs .refs-card {
  max-width: 400px;
  flex: 1 1 0px;
  height: 200px;
}

#refs .refs-card:hover blockquote {
  background-color: steelblue;
}

#refs .refs-card:hover blockquote::after {
  border-top-color: steelblue;
}

#refs .refs-card:hover blockquote::before {
  color: white;
}

#refs .refs-card:hover figure h3 {
  color: steelblue;
}

#refs blockquote {
  position: relative;
  color: steelblue;
  border-radius: 5px;
  background-color: #4d4d4d;
  font-size: 18px;
  height: 100px;
}

#refs blockquote::before {
  content: '"';
  font-style: italic;
  font-size: 100px;
  position: relative;
  top: -15px;
}

#refs blockquote::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  border: 24px solid transparent;
  border-top-color: var(--darkgrey);
  border-bottom: 0;
  border-left: 0;
  margin-left: -11px;
  margin-bottom: -22px;
}

#refs blockquote span {
  color: white;
  font-size: 18px;
  position: absolute;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
}

figure img {
  width: 60px;
  border-radius: 60px;
}

#refs figure {
  display: flex;
  width: 60px;
  padding-top: 30px;
  top: 140%;
}

#refs figure h3 {
  margin: auto;
  padding-left: 20px;
  color: var(--liggrey);
  font-size: 18px;
  display: inline;
}

/* contact */
/* Jeden grid pre usporiadanie nadpisu mapy, formulara
    druhy grid pre formular.*/
#contact {
  border-top: 2px dashed #4d4d4d;
  margin-top: 60px;
  margin-bottom: 80px;
}

#contact .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

#contact h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex: 1 100%;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-bottom: 30px;
  padding-top: 50px;
}

#contact #map {
  grid-row: 2;
  height: 400px;
  text-align: center;
}

#map > div:nth-child(2) > div:nth-child(2) > span {
  font-weight: bold;
}

#contact form {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#contact-subject {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

#contact form #contact-message {
  height: 150px;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

#contact-submit {
  color: white;
  background-color: steelblue;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 250px;
  justify-self: center;
}

#contact-submit:hover {
  background-color: green;
}

input,
textarea {
  padding: 10px;
  border: 1px solid steelblue;
  border-radius: 5px;
}
input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid green;
  box-shadow: 0 0 2px green;
}

input:invalid:focus,
textarea:invalid:focus {
  color: red;
}

input:valid,
textarea:valid {
  color: steelblue;
}

/* Footer */
#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
}

#footer .content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

#footer > div > span:nth-child(1) {
  color: var(--grey);
}

/*  Zobrazenie posunutie okna na spodku spolu s zmenou pozicie absolutnej ikonky
    pre sekciu s statistikami.*/
@media only screen and (max-width: 768px) {
  body {
    width: fit-content;
    overflow: auto;
    
  }

  #stats i {
    left: 87px;
  }
}

@media screen and (max-width: 800px) and (min-width: 769px) {
  #stats i {
    left: 92px;
  }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
  #stats i {
    left: 95px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 769px) {
  #stats i {
    left: 105px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 769px) {
  #stats i {
    left: 115px;
  }
}
