/*
 * Login: xmakis00
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu (napr. bubliny v sekci #refs)
 */

:root {
  --grey: #898989;
  --liggrey: #bfbfbf;
  --darkgrey: #4d4d4d;
  --mevyr: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans";
  line-height: 1.7;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: steelblue;
}

a:hover {
  color: white;
}

.content {
  width: 1200px;
  min-width: 768px;
  margin: auto;
}

/* Header */
#header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

#header-menu {
  height: 10vh;
  padding-top: 5px;
  display: grid;
}

#header-menu #logo {
  margin-right: auto;
  margin-top: auto;
  margin-left: 0;
  margin-bottom: auto;
  grid-row: 1;
  font-family: "Special Elite";
  font-size: 25px;
  text-decoration: none;
  justify-content: left;
  color: steelblue;
}

#header-menu #logo a {
  font-family: "Special Elite";
  font-size: 25px;
}

#contacts {
  grid-row: 1;
  display: flex;
  color: var(--grey);
  justify-content: right;
  margin-right: 0;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  font-size: 18px;
}

#contacts span {
  margin-left: 10px;
}

#contacts span i {
  margin-right: 5px;
}

#contacts a {
  color: var(--grey);
}

#contacts a:hover {
  color: white;
}

#phone i,
#mail i {
  color: steelblue;
}

#networks {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: right;
  color: steelblue;
  font-size: 24px;
}

#networks span {
  margin-left: 10px;
}

#navigation {
  grid-row: 2;
  grid-column: 1;
}

#navigation ul {
  display: flex;
  flex-direction: row;
}

#navigation ul li {
  font-size: 15px;
  list-style-type: none;
  word-spacing: 0.05em;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
}

#navigation ul li a {
  color: var(--grey);
  text-transform: uppercase;
}

#navigation ul li:hover {
  border: 1px solid var(--liggrey);
  transition: 0.5s;
}

#header .content #header-title h1 {
  font-size: 64px;
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
}

#get-started {
  font-size: 18px;
  color: var(--liggrey);
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  display: inline-block;
  width: auto;
  border: 2px solid var(--liggrey);
}

#get-started a {
  color: var(--liggrey);
  display: inline-block;
}

#get-started:hover {
  background-color: steelblue;
  transition: 0.5s;
}

#get-started:hover a {
  color: white;
  font-weight: bold;
  transition: 0.5s;
}
#header-title {
  padding-top: 56vh;
}

/* Section services */
#services {
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

#services h2 {
  font-size: 48px;
  text-transform: uppercase;
}

/* Services paragraph*/
#services > div:nth-child(1) > p:nth-child(2) {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 10px;
  color: var(--grey);
  min-width: 300px;
}

.services-column .services-card {
  width: 300px;
  padding: 15px;
  box-shadow: 0 0 10px 0 var(--liggrey);
}

.services-column .services-card:hover {
  width: 300px;
  padding: 15px;
  box-shadow: 0 0 10px 0 steelblue;
}

.services-column .services-card p {
  text-align: center;
  font-size: 14px;
  color: var(--liggrey);
}

/* Services card grip */
#services > div:nth-child(1) > div:nth-child(3) {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 40px;
  margin-top: 50px;
  margin-left: 280px;
  margin-right: 280px;
}

.services-column .services-card img:last-child {
  display: none;
}

.services-column .services-card img:first-child {
  border: 1px solid steelblue;
  display: block;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.services-column .services-card:hover img:first-child {
  display: none;
}

.services-column .services-card:hover img:last-child {
  border: 1px solid steelblue;
  background-color: steelblue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.services-column .services-card h3 {
  font-size: 24px;
  padding-top: 20px;
  text-align: center;
}

.services-column .services-card:hover h3 {
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
  color: steelblue;
}

/* Section about*/
#about {
  background-color: var(--mevyr);
  background-size: cover;
  background-clip: padding-box;
  padding-top: 60px;
  padding-bottom: 80px;
}

#about div:nth-child(odd) {
  margin-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

#about div:nth-child(even) {
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

#about div:nth-child(odd) img {
  max-width: 40%;
  max-height: 40%;
  border-radius: 5px;
  float: left;
  clear: right;
  margin-right: 80px;
  margin-bottom: 40px;
}

#about div:nth-child(odd) h2 {
  font-size: 32px;
  padding-bottom: 20px;
}

#about div:nth-child(odd) p {
  color: var(--grey);
  font-size: 18px;
  text-align: justify;
}

#about div:nth-child(odd) img:hover {
  max-width: 50%;
  max-height: 50%;
  transition: 0.5s;
}

#about div:nth-child(even) img {
  border-radius: 5px;
  max-width: 40%;
  max-height: 40%;
  margin-left: 80px;
  margin-right: 0px;
  margin-bottom: 40px;
  float: right;
  clear: left;
}

#about div:nth-child(even) p {
  padding-right: 0px;
  color: var(--grey);
  font-size: 18px;
  text-align: justify;
}

#about div:nth-child(even) h2 {
  clear: left;
}

/* Section team */
#team {
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

#team .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

#team h2 {
  text-transform: uppercase;
  font-size: 40px;
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
  flex: 1 100%;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 5;
}

#team .team-card {
  grid-row: 2;
  box-shadow: 0 0 10px 0 var(--liggrey);
  width: 285px;
}

#team .team-card h3 {
  padding-top: 20px;
  font-size: 24px;
}

#team .team-card h4 {
  color: var(--grey);
}

#team .team-card p {
  color: var(--liggrey);
  text-align: center;
  font-size: 14px;
}

#team .team-card:hover {
  box-shadow: 0 0 10px 0 steelblue;
}

#team .team-card:hover h3 {
  color: steelblue;
}

#team .team-card img {
  width: 285px;
}

/* Stats */
#stats {
  border-top: 2px dashed #4d4d4d;
  margin-top: 60px;
  margin-bottom: 80px;
}

#stats .content {
  padding-top: 60px;
  flex: 1 0 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#stats h3 {
  color: white;
  font-size: 24px;
}

#stats i {
  position: absolute;
  font-size: 32px;
  padding: 10px;
  top: -30px;
  left: 125px;
  color: steelblue;
  border-radius: 30px;
  background-color: white;
}

#stats p {
  color: var(--liggrey);
  padding-top: 5px;
  font-size: 14px;
}

.stats-card {
  position: relative;
  background-color: #4d4d4d;
  border-radius: 5px;
  min-width: 300px;
  padding: 30px;
}

.stats-card:hover {
  background-color: steelblue;
}

/* Price */
#price {
  margin-top: 60px;
  margin-bottom: 80px;
  background-color: var(--mevyr);
  background-size: cover;
}

#price .content{ 
  margin-bottom: 80px;
}

#price h2 {
  padding-top: 80px;
  text-align: center;
  font-size: 40px;
}

#price table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0 20px;
}

#price thead th {
  text-align: left;
  padding: 20px;
}

#price tbody {
  color: var(--grey);
}

#price td {
  border-top: 1px solid steelblue;
  border-bottom: 1px solid steelblue;
  padding: 20px;
}

#price button {
  padding: 20px;
  background-color: var(--mevyr);
  border: 1px solid steelblue;
  border-radius: 5px;
}

#price button:hover {
  background-color: steelblue;
  color: white;
}

ul {
  padding-left: 20px;
}

td > ul > li:nth-child(1) {
  margin-left: -15px;
  font-weight: bolder;
  list-style-type: none;
}

/*TODO background image nesedi pri overflowe*/
@media only screen and (max-width: 768px) {
  body {
    overflow: auto;
  }
}
